<%- include('../../partials/header.ejs') %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Category Registration</h2>
        </div>
        <div class="card-body">
            <form action="/admin/categories/save" method="post">
                <label for="title">Category title:</label>
                <input type="text" name="title" id="title" class="form-control">
                <br>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>
<%- include('../../partials/footer.ejs') %> 